<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title2</title>
</head>
<body>
    Encurtador de URL
    <form action="create" th:action="@{/create}" th:object="${requestAlias}" method="post">
        <label th:for="${url}">Digite a url</label>
        <input type="text" th:field="*{url}" />
        <label th:for="${alias}">Digite um nome</label>
        <input type="text" th:field="*{alias}" />
        <input type="submit" name="enviar" value="enviar">
    </form>
</body>
</html>